@import "tailwindcss";

@font-face {
  font-family: 'Lora';
  src: url("./font-lora.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .font-lora {
    font-family: 'Lora';
  }
}

html, body{
    font-family : "Poppins", sans-serif;
    scroll-behavior : smooth;
}